<div class="projects-section">
  <div class="container">
    <h1 class="raleway-title">Contact.</h1>
  </div>
</div>

<div class="contact screen" id="contact">
    <div class="container">
      <div class="text-center contact-text">
        <ul class="contact-methods margin-top-bigger">
          <li>
            <a href="mailto:kirsten.frager@hotmail.com?Subject=Hello"><img class="invert" src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Users-Email-icon.png" height="40px"> kirsten.frager@hotmail.com</a>
          </li>
          <br>
          <li>
            <a href="https://github.com/kirstenfrager" target="_blank"><img class="invert" src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40px"> https://github.com/kirstenfrager</a>
          </li>
          <br>
          <li>
            <a href="https://www.linkedin.com/in/kirstenfrager/" target="_blank"><img class="invert" src="http://www.myiconfinder.com/uploads/iconsets/3c9eaa4c8dd944eade4d976497f7c5e9.png" height="45px"> https://www.linkedin.com/in/kirstenfrager</a>
          </li>
  		  </ul>
      </div>
    </div>
  </div>
