<div class="about-section">
  <div class="container">
    <h1 class="raleway-title">Kirsten Frager.</h1>
    <div class="row margin-top">
      <div class="col-md-5 margin-top">
          <p>
            Full-stack developer in the making based in Sydney, Australia. Holder of a Diploma of Software Development and a Bachelor of Business, majoring in Marketing and German.
          <p>
            I’m an enthusiast of web design, pair programming, idea implementation and you'll often find me enjoying a small victory dance (this usually means I have fixed an error or my deployment to heroku decided to be kind today)!
          </p>
          <p>
            In my free time, you’ll find me travelling the world with my drone hovering above me.
          </p>
          <p>
            My goal is to combine my passions of code, design and possibly drone technology to reach ultimate enlightenment.
          </p>
          <p>
            If you’ve got a project, hopeful idea or need a spotter when you’re next flying your drone, don’t hesitate to get in touch!
          </p>
        </div>
        <div class="col m7">
          <input type="radio" name="slide" id="img-1" checked>
          <input type="radio" name="slide" id="img-2">
          <input type="radio" name="slide" id="img-3">
          <input type="radio" name="slide" id="img-4">
          <div class="img-box one-edge-shadow">
            <img id="four" src="http://res.cloudinary.com/df0hftplx/image/upload/v1493610272/austria-2_fuhmm8.jpg">
            <img id="three" src="http://res.cloudinary.com/df0hftplx/image/upload/v1489122053/austria-4_qcfppp.jpg">
            <img id="two" src="http://res.cloudinary.com/df0hftplx/image/upload/v1489122040/kayak_yesrd6.jpg">
            <img id="one" src="http://res.cloudinary.com/df0hftplx/image/upload/v1489122025/shiprock_zc2zax.jpg">
          </div>
          <div class="navigation text-center">
            <label for="img-1"><div id="dot-1" class="radio"></div></label>
            <label for="img-2"><div id="dot-2" class="radio"></div></label>
            <label for="img-3"><div id="dot-3" class="radio"></div></label>
            <label for="img-4"><div id="dot-4" class="radio"></div></label>
          </div>
        </div>
    </div>
  </div>
</div>
