<div class="fullscreen-bg" id="intro">
  <h1 class="raleway">Kirsten Frager.</h1>
  <div id="particles-js" class="fadeIn"></div>
  <video loop muted autoplay class="responsive-video">
    <source src="http://res.cloudinary.com/df0hftplx/video/upload/ac_none,f_auto,q_50,vc_auto/v1489117138/austria-video_tjptkd.mp4" type="video/mp4">
  </video>
</div>
