<div class="fullscreen-bg" id="intro">
      <h1 class="raleway">Kirsten Frager.</h1>
      <!-- <div class="row center intro-button">
        <a class=" waves-effect waves-light btn" href="pages/content">Enter Website</a>
      </div> -->
    <video loop muted autoplay poster="http://res.cloudinary.com/df0hftplx/image/upload/v1489122053/austria-4_qcfppp.jpg" class="responsive-video">
        <source src="http://res.cloudinary.com/df0hftplx/video/upload/ac_none,f_auto,q_50,vc_auto/v1489117138/austria-video_tjptkd.mp4" type="video/mp4">
    </video>
</div>
