<div class="projects-section">
  <div class="container">
    <h1 class="raleway-title">Projects.</h1>
  </div>
</div>

<div class="projects screen margin-top" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-box project-img influencethis">
        <a href="https://influencethis.herokuapp.com/" target="_blank" class="project-name">Influence This.
        </a>
      </div>
      <div class="col-md-4 p-box project-img github">
        <a href="https://github.com/kirstenfrager" target="_blank" class="project-name">GitHub
        </a>
      </div>
      <div class="col-md-4 p-box project-img ksp">
        <a href="https://github.com/kirstenfrager/CFA-KSP-knowledge-sourcing-platform" target="_blank" class="project-name">KSP
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 p-box project-img renaissanceman">
        <a href="https://github.com/kirstenfrager/TheRenaissanceMan" target="_blank" class="project-name">The Renaissance Man
        </a>
      </div>
      <div class="col-md-4 p-box project-img white">
      </div>
      <div class="col-md-4 p-box project-img quizgif">
        <a href="https://github.com/kirstenfrager/cfa-project-group-quiz" target="_blank" class="project-name">Quiz Terminal Project
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 p-box project-img tempgif">
        <a href="https://github.com/kirstenfrager/CFA-weather-forecast-app" target="_blank" class="project-name">Temperature App
        </a>
      </div>
      <div class="col-md-4 p-box project-img white">
      </div>
      <div class="col-md-4 p-box project-img zengif">
        <a
        href="http://codepen.io/hankicarl/full/MppyBW/" target="_blank" class="project-name">CSS Zen Garden
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 p-box project-img donaldtrump">
        <a href="#" target="_blank" class="project-name">Celebrity Website
        </a>
      </div>
    </div>
  </div>
</div>

<div class="footer margin-top border-top">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/2000px-Ruby_logo.svg.png" height="100px">
  <img src="https://web.informatics.ru/img/web3.png" height="150px">
  <img src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" height="150px">
</div>
