.about-section p {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

input {
  display: none;
}

.radio {
	width: 20px;
	height: 20px;
	overflow: hidden;
	padding: 0;
	text-align: center;
	color: #000;
	cursor: pointer;
	border: 2px solid #000;
	border-radius: 50%;
  transition: background-color .4s;
}

.radio:hover {
  background-color: #008FA3;
}

input:checked ~ .radio {
	color: #FFF;
	background-color: #000;
  opacity: 1;
}

.img-box {
  width: 600px;
  height: 350px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.img-box img {
  width: 600px;
  height: 380px;
}

.one-edge-shadow {
  -webkit-box-shadow: 2px 8px 10px -4px black;
  -moz-box-shadow: 2px 8px 10px -4px black;
  box-shadow: 2px 8px 10px -4px black;
}

#one, #two, #three, #four {
  opacity: 0;
  -webkit-transform: translate(0,30px);
  transition-property: -webkit-transform, opacity;
  transition-duration: .5s;
  position: absolute;
}

#img-1:checked ~ .img-box #one,
#img-2:checked ~ .img-box #two,
#img-3:checked ~ .img-box #three,
#img-4:checked ~ .img-box #four {
  opacity: 1;
  -webkit-transform: translate(0,0);
}

#img-1:checked ~ .nav label #dot-1.radio,
#img-2:checked ~ .nav label #dot-2.radio,
#img-3:checked ~ .nav label #dot-3.radio,
#img-4:checked ~ .nav label #dot-4.radio {
  color: #FFF;
  background-color: #000;
}
