.contact-methods a {
  color: #008FA3;
}

.contact-methods a:hover {
  text-shadow: 1px 0px 20px #051E51;
  text-decoration: none;
}

.contact-methods {
  font-size: 30px;
  font-family: "Rock Salt", cursive;
}
